<%= form_for([@story, @comment], html: { multipart: true }) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :story_id, value: @story.id %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_area :author %>
  </div>

  <div class="field">
    <%= f.label :Contenido %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit :"Publicar Comentario", :class=>"btn btn-primary btn-sm", :style=>'color:white' %>
    <%= link_to 'Atrás', story_comments_path(@story), :class=>"btn btn-primary btn-sm", :style=>'color:white' %>
  </div>
<% end %>
