<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h3><%= @story.header %></h3>
<p><%= @story.body %></p>

<%= link_to 'Noticias', stories_path, :class=>"btn btn-primary btn-sm", :style=>'color:white' %>

<%= link_to 'Nuevo Comentario', new_story_comment_path, :class=>"btn btn-primary btn-sm", :style=>'color:white' %>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.author %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Editar Comentario', edit_story_comment_path(@story, comment) %></td>
        <td><%= link_to 'Eliminar Comentario', story_comment_path(@story, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
