<%= form_for(@story) do |f| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Título %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :Bajada %>
    <%= f.text_area :header, :maxlength => 250 %>
  </div>

  <div class="field">
    <%= f.label :Cuerpo %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit :"Publicar Noticia", :class=>"btn btn-primary btn-sm", :style=>'color:white'%>
    <%= link_to 'Atrás', stories_admin_path, :class=>"btn btn-primary btn-sm", :style=>'color:white' %>
  </div>
<% end %>
