<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Encabezado</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.header %></td>
        <td><%= story.body %></td>
        <td><%= link_to 'Ver Noticia', story_comments_path(story) %></td>
        <td><%= link_to 'Editar Noticia', edit_story_path(story) %></td>
        <td><%= link_to 'Eliminar Noticia', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Noticia', new_story_path %>
