<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<%= link_to 'Nueva Noticia', new_story_path %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Encabezado</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.sort_by(&:created_at).reverse.first(10).each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.header %></td>
        <td><%= story.body %></td>
        <td><%= link_to 'Ver Noticia', story_comments_path(story) %></td>
        <td><%= link_to 'Editar Noticia', edit_story_path(story) %></td>
        <td><%= link_to 'Eliminar Noticia', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @stories.sort_by(&:created_at).reverse.first(10).each do |story| %>
<div class="row-md-6">
  <div class="col-md-4 col-md-4">
    <div class="thumbnail"style="height:400px; width:380px">
      <div class="caption">
        <h4><%=story.title%></h5>
        <h6><%=story.header%></h6>
        <p><%=story.body%></p>
        <%=story.created_at.to_formatted_s(:db)%>
        <td rowspan="100"></td>
        <span style="padding-left:20px"></span>
        <span class="label label-default"><%=story.comments.count%></span>
        <span style="padding-right:20px"></span>
        <%=link_to 'Ver', story_comments_path(story), :class=>"btn btn-primary btn-sm", :style=>'color:white'%>
        <p></p>
      </div>
    </div>
  </div>
</div>
<% end %>

<br>
