<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Encabezado</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.header %></td>
        <td><%= story.body %></td>
        <td><%= link_to 'Ver Noticia', story_comments_path(story) %></td>
        <td><%= link_to 'Editar Noticia', edit_story_path(story) %></td>
        <td><%= link_to 'Eliminar Noticia', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @stories.each do |story| %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=story.title%></h3>
        <h4><%=story.header%></h4>
        <p><%=story.body%></p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<% end %>

<br>

<%= link_to 'Nueva Noticia', new_story_path %>
